.the-space{
    width: 50%;
}

.membership-container {
    display: table-row;
}


.member-section {
    display: table;
}

.member{
    border-right: 1px solid #fff;
    display: table-cell;
    width: 20%;
    position: relative;
}

.btn {
    position: absolute;
    bottom: 5px;
    left: 25%;
    width: 50%;
}
