
body {
    background-color: #fff
    font-family: Georgia;
    font-size: 16px;
}

.nav-header {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.logo img {
    max-width: 100%;
    height: auto;
    padding-bottom: 1em;
}

.main-container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.wrapper{
    width: 100%;
    border-top: 1px solid #ddd;
}


.heading-with-hr h1{
    width: 100%;
    color: #4a484c;
    text-align: center;
    text-transform: none;
    display: block;
    padding-bottom: .5em;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
}

.heading-with-hr hr{
    display: block;
    width: 2em;
    margin: 0 auto 1.5em auto;
}

.what-is-locolo{
    display: block;
    margin: 0 auto 0 auto;
    width: 90%;
    font-size: 21px;
    line-height: 31px;
    color: #898d90;
    text-align: center;
}

.the-space{
   width: 80%;
   margin: 0 auto 0 auto;
   padding-top: 2em;
}

.idea{
   text-align: center;
}


.membership-container {

    background-color: #1e0c29;
}

.member-section {
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    display: block;
    margin: 1em auto 1em auto;
    width: 90%;
    font-size: 21px;
    line-height: 20px;
    color: #898d90;
    text-align: center;
    background-color: #1e0c29;
    margin-right: auto;
    margin-left: auto;
    background-color: #1e0c29;
}

.member{
    background-color: #1e0c29;
    margin: .1em;
    color: #4a484c;
    text-align: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
    width: auto;
}

.top-section{
        padding-top: 15px;
        padding-bottom: 20px;
}

.circle {
	width: 20px;
	height: 20px;
	background: #fc2e5a;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
        margin: 0 auto 0 auto;
}

.membership-title{
    margin-bottom: 15px;
    font-size: 18px;
    color: #90cb6f;
}

.price-block{
    margin-bottom: 15px;
    color: #fff;
}

.price-block hr{
    display: inline-block;
    margin: 0;
    width: 10px;
    border-color: rgba(255,255,255,0.2);
    vertical-align: middle;
}

.price {
    font-size: 18px;
}

.timespan {
    font-size: 12px;
    margin: 0;
}

.membership-description{
    color: #90cb6f;
    margin: 1px 1px 15px 1px;
    font-size: 14px;
}

.membership-description2{
    color: #f9f9f9;
    font-size: 12px;
    margin: 2px 2px 11px 2px;

}

.btn {
    margin: 0 auto 0 auto;
    cursor: pointer;
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    width: 25%;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0470588) 0px 2px 0px 0px;
    background-color: rgb(144, 203, 111);
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-left-color: rgb(255, 255, 255);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-style: none;
    border-top-width: 0px;
    bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 2px 0px 0px;
    color: rgb(255, 255, 255);
}

